h1 {}

h2 {
    text-align: center;
    font-size: 55px;
}

h3 {}

h4 {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width:767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.navbar {
    background-color: whitesmoke;
    left: 2%;
    top: 60px;
    position: fixed;
    padding: 0px;
    border: none;
    z-index: 1000;
}

#nav-bar-content {
    padding: 0px;
}

@media (max-width: 767px) {
    .navbar {
        left: 0%;
        top: 0px;
        margin-bottom: 0px;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
}

.nav {
    padding: 0px;
}

.navbar .nav>li a {
    height: 70px;
    text-align: center;
    padding-top: 25px;
    font-weight: 700;
    color: black;
}

.active>a {
    background: silver;
}

.terminal {
    background-color: #000;
    border: 1px solid #000;
    color: #00ff00;
    padding: 8px;
    font-family: courier new;
    height: 800px;
}


/**********Style for About Me**********/

#aboutme {
    background: #607D8B;
    color: #ECEFF1;
    z-index: 900;
}

.title {
    text-align: center;
}

.img-circle {
    border-radius: 80%;
}


/**********Style for Experience**********/

#experience {
    z-index: 800;
    position: relative;
}

.experience .row {
    padding: 15px;
}


/**********Style for Projects**********/

#projects {
    background-color: cornsilk;
    z-index: 700;
    position: relative;
}


/**********Style for Skills**********/

#skills {
    z-index: 600;
    position: relative;
}

.progress-bar-label {
    float: left;
    font-weight: bold;
    width: 20%;
}


/**********Style for Contacts**********/

#contact {
    background-color: firebrick;
    color: white;
    z-index: 500;
}

.contact .row {
    text-align: center;
    padding-top: 10px;
}

.contact .container {
    padding-bottom: 40px;
}

.icon {
    font-size: 5em;
    color: white;
}

.icon:hover {
    color: black;
    text-decoration: none;
}

#email {
    padding-top: 15px;
    font-size: 28px;
}

@media (max-width:767px) {
    #email {
        font-size: 18px;
    }
}
